{{define "message" -}}
struct {

{{- /* Display headers if they exists */}}
{{- if .Headers}}
// Headers will be used to fill the message headers
Headers {{template "any" .Headers}}
{{end -}}

{{- /* Display payload */}}
// Payload will be inserted in the message payload
Payload {{template "any" .Payload}}
}

// fromUniversalMessage will fill {{namify .Name}}Message with data from UniversalMessage
func (msg *{{namify .Name}}Message) fromUniversalMessage(um UniversalMessage) error {
    err := json.Unmarshal(um.Payload, &msg.Payload)
    if err != nil {
        return err
    }
    
    // TODO: run checks on msg type

    return nil
}

// toUniversalMessage will generate an UniversalMessage from {{namify .Name}}Message data
func (msg {{namify .Name}}Message) toUniversalMessage() (UniversalMessage, error) {
    // TODO: implement checks on message

    // Convert to JSON payload
    payload, err := json.Marshal(msg.Payload)
    if err != nil {
        return UniversalMessage{}, err
    }

    {{if ne $.CorrelationIDLocation "" -}}
    // Create a new correlationID if none is specified
    correlationID := uuid.New().String()
    // TODO: get if from another place according to spec
    if msg.{{referenceToStructAttributePath $.CorrelationIDLocation}} != "" {
        correlationID = msg.{{referenceToStructAttributePath $.CorrelationIDLocation}}
    }
    {{- end}}

    // Create universal message
    return UniversalMessage{
        Payload: payload,
        {{- if ne $.CorrelationIDLocation ""}}
        CorrelationID: correlationID,
        {{- end}}
    }, nil
}
{{- end }}
