const (
    // CorrelationIDField is the name of the field that will contain the correlation ID
    CorrelationIDField = "correlation_id"
)


// UniversalMessage is a wrapper that will contain all information regarding a message 
type UniversalMessage struct {
    CorrelationID *string
    Payload []byte
}

// BrokerController represents the functions that should be implemented to connect
// the broker to the application or the client
type BrokerController interface {
    // SetLogger set a logger that will log operations on broker controller
    SetLogger(logger log.Logger)

    // Publish a message to the broker
    Publish(ctx context.Context, channel string, mw UniversalMessage) error

    // Subscribe to messages from the broker
    Subscribe(ctx context.Context, channel string) (msgs chan UniversalMessage, stop chan interface{}, err error)

    // SetQueueName sets the name of the queue that will be used by the broker
    SetQueueName(name string)
}
