{{if .ReceiveOperationsCount -}}
// {{ .Prefix }}Subscriber contains all handlers that are listening messages for {{ .Prefix }}
type {{ .Prefix }}Subscriber interface {
{{- range $key, $value := .Operations}}
    // {{opToMsgTypeName $value}}ReceivedFrom{{opToChannelTypeName $value}} receive all {{ cutSuffix (opToMsgTypeName $value) "Message" }} messages from {{ cutSuffix (opToChannelTypeName $value) "Channel" }} channel.
    {{opToMsgTypeName $value}}ReceivedFrom{{opToChannelTypeName $value}}(ctx context.Context, msg {{opToMsgTypeName $value}})
{{end}}
}
{{- end}}
