// AsyncAPIVersion is the version of the used AsyncAPI document
const AsyncAPIVersion = "{{ .Info.Version }}"

type MessageWithCorrelationID interface {
    CorrelationID() string
    SetCorrelationID(id string)
}

type Error struct {
    Channel string
    Err     error
}

func (e *Error) Error() string {
    return fmt.Sprintf("channel %q: err %v", e.Channel, e.Err)
}

{{range $key, $value := .Channels -}}

{{- if $value.Parameters -}}
// {{ namifyWithoutParam .Name }}Parameters represents {{ namify .Name }} channel parameters
type {{ namifyWithoutParam .Name }}Parameters struct {
{{- range $key, $value := .Parameters}}
    // {{ namify $key }} is a channel parameter {{- if $value.Description}}: {{multiLineComment $value.Description}}{{else}}.{{- end}}
    {{ namify $key }} string
{{- end}}
}
{{end}}

{{- range $key, $value := $value.Messages}}
{{template "message" $value}}
{{end -}}

{{- end}}

{{/* NOTE: No need to generate messages from operation as they are only references */}}

{{- range $key, $value := .Components.Messages}}
{{template "message" $value}}
{{end -}}

{{range $key, $value := .Components.Schemas}}
{{template "schema-definition" $value}}
{{- end}}

{{- if .Channels}}
const(
{{- range $key, $value := .Channels}}
    // {{ namifyWithoutParam .Follow.Name }}Path is the constant representing the '{{ .Follow.Name }}' channel path.
    {{ namifyWithoutParam .Follow.Name }}Path = "{{ .Follow.Address }}"
{{- end}}
)

// ChannelsPaths is an array of all channels paths
var ChannelsPaths = []string{
{{- range $key, $value := .Channels}}
    {{ namifyWithoutParam .Follow.Name }}Path,
{{- end}}
}
{{- end}}