{{range $key, $value := .Channels -}}
{{- if and $value.Subscribe $value.Subscribe.Message.Payload}}
// {{if $value.Subscribe.Message.Description}}{{$value.Subscribe.Message.Description}}{{else}}{{namify $key}}{{end}}
type {{namify $key}}Message {{template "message" $value.Subscribe.Message}}
{{end -}}

{{- if and $value.Publish $value.Publish.Message.Payload}}
// {{if $value.Publish.Message.Description}}{{$value.Publish.Message.Description}}{{else}}{{namify $key}}{{end}}
type {{namify $key}}Message {{template "message" $value.Publish.Message}}
{{end -}}
{{- end}}

{{range $key, $value := .Components.Messages}}
// {{if $value.Description}}{{$value.Description}}{{else}}{{namify $key}}{{end}}
type {{namify $key}}Message {{template "message" $value}}
{{end}}

{{range $key, $value := .Components.Schemas}}
// {{if $value.Description}}{{$value.Description}}{{else}}{{namify $key}}{{end}}
type {{namify $key}} {{template "any" $value}}
{{end}}
