{{define "parameter"}}

{{- if $.Description}}
// Description: {{multiLineComment $.Description}}
{{- end}}

{{- /* Set parameter if defined */}}
{{- if .Schema}}
{{namify $.Name }} {{template "schema-name" $.Schema}}

{{- /* Set parameter from reference if defined */}}
{{- else if .ReferenceTo }}
{{- template "parameter" $.ReferenceTo}}
{{end -}}

{{- end}}
