{{if .MethodCount -}}
// {{ .Prefix }}Subscriber represents all handlers that are expecting messages for {{ .Prefix }}
type {{ .Prefix }}Subscriber interface {
{{- range  $key, $value := .Channels}}
    // {{operationName $value}} subscribes to messages placed on the '{{ $key }}' channel
    {{operationName $value}}(ctx context.Context, msg {{(channelToMessage $value "subscribe").Name}}) error
{{end}}
}
{{- end}}
