// AsyncAPIVersion is the version of the used AsyncAPI document
const AsyncAPIVersion = "{{ .Info.Version }}"

// MessageWithCorrelationID is implemented by messages that carry a correlation ID.
type MessageWithCorrelationID interface {
    CorrelationID() string
    SetCorrelationID(id string)
}

// Error is the error structure returned by the controller operations.
type Error struct {
    Channel string
    Err     error
}

// Error returns a string representation of the error.
func (e *Error) Error() string {
    return fmt.Sprintf("channel %q: err %v", e.Channel, e.Err)
}

{{range $key, $value := .Channels -}}

{{- if $value.Parameters -}}
// {{ namifyWithoutParam .Name }}Parameters represents {{ namify .Name }} channel parameters
type {{ namifyWithoutParam .Name }}Parameters struct {
{{- range $key, $value := .Parameters}}
    {{- template "parameter" $value}}
{{- end}}
}
{{end}}

{{- if and $value.Subscribe $value.Subscribe.Message.Payload}}
{{template "message" $value.Subscribe.Message}}
{{end -}}

{{- if and $value.Publish $value.Publish.Message.Payload}}
{{template "message" $value.Publish.Message}}
{{end -}}
{{- end}}

{{range $key, $value := .Components.Messages}}
{{template "message" $value}}
{{end}}

{{range $key, $value := .Components.Schemas}}
{{template "schema-definition" $value}}
{{- end}}

{{- if .Channels}}
const(
{{- range $key, $value := .Channels}}
    // {{ namifyWithoutParam .Name }}Path is the constant representing the '{{ .Name }}' channel path.
    {{ namifyWithoutParam .Name }}Path = "{{$key}}"
{{- end}}
)

// ChannelsPaths is an array of all channels paths
var ChannelsPaths = []string{
{{- range $key, $value := .Channels}}
    {{ namifyWithoutParam .Name }}Path,
{{- end}}
}
{{- end}}